<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<form action="#" th:action="@{employeeform}" th:object="${employee}" method="post">
    First Name: <input type="text" th:field="*{fname}" /><br />
    Last Name: <input type="text" th:field="*{lname}" /><br />
    SSN: <input type="text" th:field="*{SSN}" /><br />
    DOB: <input type="text" th:field="*{DOB}" /><br />
    <input type="submit" value="Submit" />
</form>
</body>
</html>